/***
 * file name : musicNote.css
 * description : musicNote style file
 * create date : 2018-05-17
 * creator : saltgamer
 ***/

.audioPlayer {
    position: relative;
    top: 0;
    left: 30px;
    /*width: 800px;*/
    height: 45px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    overflow: hidden;
    /*background-color: #333;*/
    border-radius: 10px;

    background: #4a98e0; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#54a2e2, #397fbb); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#54a2e2, #397fbb); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#54a2e2, #397fbb); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#54a2e2, #397fbb); /* Standard syntax */

    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.3);

    margin-bottom: 60px;
}

.allLabel {
    position: relative;
    margin-top: 6px;
    width: 75px;
    height: 32px;
}

.pickContainer {
    position: absolute;
    top: 0;
    right: 10px;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    user-select: none;

    display: none;

}

.pickContainer > .pickSongButton {
    width: 50px;
    height: 30px;
    background-color: #333333;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    cursor: pointer;
    display: inline-block;
    color: #fff;


}

.pickContainer > .pickMrButton {
    width: 50px;
    height: 30px;
    background-color: #333333;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    cursor: pointer;
    display: inline-block;
    color: #fff;
}

.audioPlayer > .bar {
    position: absolute;
    top: 0;
    /*width: 100%;*/
    /*height: 20px;*/
    user-select: none;
}

.audioPlayer > .bar > .progress {
    position: absolute;
    top: 17px;
    left: 130px;
    width: 130px;
    height: 10px;
}

.audioPlayer > .bar > .progress > .progress_bar {
    height: 100%;
    background-color: #EEEEEE;
    cursor: pointer;
}
.audioPlayer > .bar > .progress > .progress_bar > .slider-horiz__track {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 0;
}

.audioPlayer > .bar > .progress > .progress_bar > .slider-horiz__track > .slider-horiz__filled {
    height: 100%;
    border-radius: 0;
    background-color: #ff9900;

}

.audioPlayer > .bar > .progress > .progress_bar > .slider-horiz__track > .slider-horiz__filled > .slider-horiz__handle {
    position: relative;
    top: -2px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
}


.audioPlayer > .bar > .controls {
    user-select: none;
    padding-left: 7px;
    display: flex;
}


.audioPlayer > .bar > .controls >.controlsPlayButton {
    width: 30px;
    height: 30px;
    margin: 7px;
    /*opacity: 0.8;*/
    cursor: pointer;
    background-size: 100% 100%;

    background-image: url('../images/btn_play.png');
    background-repeat: no-repeat;

}

.audioPlayer > .bar > .controls >.controlsPauseyButton {
    width: 30px;
    height: 30px;
    margin: 7px;
    /*opacity: 0.8;*/
    cursor: pointer;
    background-size: 100% 100%;

    background-image: url('../images/btn_pause.png');
    background-repeat: no-repeat;

}

.audioPlayer > .bar > .controls >.controlsStopButton {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 7px;
    /*opacity: 0.8;*/
    cursor: pointer;
    background-size: 100% 100%;
    left: 135px;

    background-image: url('../images/btn_stop.png');
    background-repeat: no-repeat;

}

.audioPlayer > .bar > .controls >.controlsPrevButton {
    position: relative;
    width: 25px;
    height: 25px;
    margin: 2px;
    opacity: 0.8;
    cursor: pointer;
    background-size: 100% 100%;

    left: 205px;

    background-image: url('../images/prev.svg');
    background-repeat: no-repeat;

    display: none;

}

.audioPlayer > .bar > .controls > .controlsNextButton {
    position: relative;
    width: 25px;
    height: 25px;
    margin: 2px;
    opacity: 0.8;
    cursor: pointer;
    background-size: 100% 100%;

    left: 220px;

    background-image: url('../images/next.svg');
    background-repeat: no-repeat;

    display: none;

}

.audioPlayer > .bar > .controls > .sectionInfo {
    position: relative;
    left: 213px;
    color: #fff;
    /*margin: 4px;*/
    line-height: 30px;
    display: none;
}

.audioPlayer > .bar > .controls > .sectionPlayButton {
    position: relative;
    width: 25px;
    height: 25px;
    margin: 2px;
    opacity: 0.8;
    cursor: pointer;
    background-size: 100% 100%;

    left: 225px;

    /*background-image: url('../images/play.svg');*/
    /*background-repeat: no-repeat;*/
    display: none;
}

.audioPlayer > .bar > .controls > .halfPlayButton {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 7px;
    /*opacity: 0.8;*/
    cursor: pointer;
    background-size: 100% 100%;

    left: 148px;


    background-image: url('../images/btn_half.png');
    background-repeat: no-repeat;
}

.audioPlayer > .bar > .controls > .onePlayButton {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 7px;
    /*opacity: 0.8;*/
    cursor: pointer;
    background-size: 100% 100%;

    left: 140px;


    background-image: url('../images/btn_one.png');
    background-repeat: no-repeat;
}


.audioPlayer > .bar > .controls > .lyricsButton {
    position: relative;
    width: 30px;
    height: 24px;
    cursor: pointer;
    background-color: #ff9900;
    font-size: 13px;
    text-align: center;
    border-radius: 25px;
    line-height: 24px;

    top: 3px;
    left: 235px;

    display: none;
}

.audioPlayer > .bar > .controls > .syllableButton {
    position: relative;
    width: 40px;
    height: 24px;
    cursor: pointer;
    background-color: #eee;
    font-size: 12px;
    text-align: center;
    border-radius: 25px;
    line-height: 24px;

    top: 3px;
    left: 240px;

    display: none;
}

.audioPlayer > .bar > .controls > .minusButton {
    position: relative;
    width: 25px;
    height: 25px;
    margin: 2px;
    opacity: 0.8;
    cursor: pointer;
    background-size: 100% 100%;

    left: 245px;

    background-image: url('../images/minus.svg');
    background-repeat: no-repeat;

    display: none;

}

.audioPlayer > .bar > .controls > .plusButton {
    position: relative;
    width: 25px;
    height: 25px;
    margin: 2px;
    opacity: 0.8;
    cursor: pointer;
    background-size: 100% 100%;

    left: 245px;

    background-image: url('../images/plus.svg');
    background-repeat: no-repeat;

    display: none;

}

.splitLine {
    width: 2px;
    height: 45px;
    background-color: #2861a3;
    position: relative;
    left: 136px;
}

.sectionIconBox {
    position: relative;
    left: 152px;
    top: 7px;
}

.sectionIcon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 3px;
}

.audioPlayer > .bar > .controls > .loopPlayButton {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 7px;
    opacity: 0.5;
    /*cursor: pointer;*/
    background-size: 100% 100%;

    left: 156px;

    background-image: url('../images/btn_loop.png');
    background-repeat: no-repeat;

}

.countBox {
    position: absolute;
    top: 60px;
    left: 28px;
    width: 50px;
    height: 73px;
    /*background-image: url('../images/count_3.png');*/
    background-repeat: no-repeat;
    display: none;

}